<h1>School Class Edit Form</h1>

<%= form_for @schoolclass do |f| %>

    <h3>Class Title: <%= f.text_field :title %></h3>
    <h3>Room Number: <%= f.number_field :room_number %></h3>
    <%= f.submit "Update School class" %>

<% end %>